# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

[*]

indent_style = space

[*.{kt,kts}]
ktlint_code_style = android_studio
max_line_length = 140

# Force IntelliJ IDEA to use strict alphabetical layout of ktlint
ij_kotlin_imports_layout = *,^
