name: Pull Request

on:
    pull_request:
        branches: ['develop']
    workflow_dispatch:
        inputs:
            ios-runner-type:
                type: choice
                required: true
                description: "Runner type"
                default: "self-hosted"
                options:
                    - "self-hosted"
                    - "macos-26"

env:
    BUILD_TYPE: 'SNAPSHOT' #BUILD_TYPE: Type of the build; allowed values: 'SNAPSHOT', 'RELEASE', 'RELEASE_CANDIDATE'
    XCODE_VERSION: 26.2
    JAVA_VERSION: 17
    RUBY_VERSION: 3.4.2

    YARN_ENABLE_IMMUTABLE_INSTALLS: false
    GH_USERNAME: ${{ vars.GH_USERNAME }}
    GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
    KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
    PRIVATE_NATIVE_IOS_REPOSITORY_URL: ${{ secrets.PRIVATE_NATIVE_IOS_REPOSITORY_URL }}
    PRIVATE_NATIVE_IOS_REPOSITORY_NAME: ${{ vars.PRIVATE_NATIVE_IOS_REPOSITORY_NAME }}
    PRIVATE_NATIVE_ANDROID_REPOSITORY_URL: ${{ secrets.PRIVATE_NATIVE_ANDROID_REPOSITORY_URL }}
    PRIVATE_NPM_REPOSITORY_URL: ${{ vars.PRIVATE_NPM_REPOSITORY_URL }}
    NODE_AUTH_TOKEN: ${{ secrets.PRIVATE_NPM_REPOSITORY_TOKEN }}

jobs:
    lint-and-format:
        name: Lint & Format
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Shai-Hulud 2.0 Security Check
              uses: ./.github/actions/shai-hulud-check

            - name: Set up Node
              uses: ./.github/actions/setup-node
              with:
                  registry-url: ${{ env.PRIVATE_NPM_REPOSITORY_URL }}

            - name: Lint Files
              run: yarn lint

            - name: Run Formatter
              run: yarn formatcheck

            - name: Run Ruby Linter for Android
              uses: ./.github/actions/run-ruby-linter
              with:
                  working-directory: 'android'

            - name: Run Ruby Linter for iOS
              uses: ./.github/actions/run-ruby-linter
              with:
                  working-directory: 'ios'

    install-and-check-dependencies:
        name: Check Dependencies
        runs-on: ubuntu-latest
        needs: [lint-and-format]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Node
              uses: ./.github/actions/setup-node
              with:
                  registry-url: ${{ env.PRIVATE_NPM_REPOSITORY_URL }}

            - name: Check Dependencies
              run: yarn check-dependencies

    validate-gradle-wrapper:
      name: Validate Gradle Wrapper
      runs-on: ubuntu-latest
      needs: [install-and-check-dependencies]
      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Gradle Wrapper Validation
          uses: gradle/actions/wrapper-validation@v4

    build-android-new-arch:
        name: Build Android App (new arch)
        runs-on: ubuntu-latest
        needs: [validate-gradle-wrapper]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build Android App (new arch)
              uses: ./.github/actions/build-android
              with:
                  new-arch-enabled: true

    build-android-old-arch:
        name: Build Android App (old arch)
        runs-on: ubuntu-latest
        needs: [validate-gradle-wrapper]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build Android App (old arch)
              uses: ./.github/actions/build-android
              with:
                  new-arch-enabled: false

    build-ios-new-arch:
        name: Build iOS App (new arch)
        runs-on: ${{ github.event.inputs.ios-runner-type || 'self-hosted' }}
        needs: [install-and-check-dependencies]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build iOS App (new arch)
              uses: ./.github/actions/build-ios
              with:
                  new-arch-enabled: true

    build-ios-old-arch:
        name: Build iOS App (old arch)
        runs-on: ${{ github.event.inputs.ios-runner-type || 'self-hosted' }}
        needs: [install-and-check-dependencies]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build iOS App (old arch)
              uses: ./.github/actions/build-ios
              with:
                  new-arch-enabled: false
