name: Release Candidate Build

on:
    pull_request:
        branches: ['main']
    workflow_dispatch:
        inputs:
            ios-runner-type:
                type: choice
                required: true
                description: "Runner type"
                default: "self-hosted"
                options:
                    - "self-hosted"
                    - "macos-15"

env:
    BUILD_TYPE: 'RELEASE_CANDIDATE' #BUILD_TYPE: Type of the build; allowed values: 'SNAPSHOT', 'RELEASE', 'RELEASE_CANDIDATE'
    XCODE_VERSION: 16.3
    JAVA_VERSION: 17
    RUBY_VERSION: 3.4.2

    YARN_ENABLE_IMMUTABLE_INSTALLS: false
    GH_USERNAME: ${{ vars.GH_USERNAME }}
    GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

jobs:
    lint-and-format:
        name: Lint & Format
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Node
              uses: ./.github/actions/setup-node

            - name: Lint files
              run: yarn lint

            - name: Run formatter
              run: yarn formatcheck

            - name: Run Ruby linter for Android
              uses: ./.github/actions/run-ruby-linter
              with:
                  working-directory: 'android'

            - name: Run Ruby linter for iOS
              uses: ./.github/actions/run-ruby-linter
              with:
                  working-directory: 'ios'

    install-and-check-dependencies:
        name: Check Dependencies
        runs-on: ubuntu-latest
        needs: [lint-and-format]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Node
              uses: ./.github/actions/setup-node

            - name: Check Dependencies
              run: yarn check-dependencies

    build-android-new-arch:
        name: Build Android App (new arch)
        runs-on: ubuntu-latest
        needs: [install-and-check-dependencies]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build Android App (new arch)
              uses: ./.github/actions/build-android
              with:
                  new-arch-enabled: true

    build-android-old-arch:
        name: Build Android App (old arch)
        runs-on: ubuntu-latest
        needs: [install-and-check-dependencies]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build Android App (old arch)
              uses: ./.github/actions/build-android
              with:
                  new-arch-enabled: false

    build-ios-new-arch:
        name: Build iOS App (new arch)
        runs-on: ${{ github.event.inputs.ios-runner-type || 'self-hosted' }}
        needs: [install-and-check-dependencies]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build iOS App (new arch)
              uses: ./.github/actions/build-ios
              with:
                  new-arch-enabled: true

    build-ios-old-arch:
        name: Build iOS App (old arch)
        runs-on: ${{ github.event.inputs.ios-runner-type || 'self-hosted' }}
        needs: [install-and-check-dependencies]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Build iOS App (old arch)
              uses: ./.github/actions/build-ios
              with:
                  new-arch-enabled: false
